<div class="about">
    <div>
        <h2>About us</h2>
        <p>We provide accurate and up-to-date weather forecasts for locations around the world.</p>

        <h2>How it works</h2>

        <p>Choose location, get current weather and forecast for next 7 days, additional features available.</p>
        <p>Our known for reliable forecasts and easy-to-use interface.</p>

        <h2>Get started</h2>
        <p>Sign up for an account to access on the go.</p>
        <br>
        <button ><%= link_to "Start Now", new_user_path %></button>
    </div>

    <img class ='aboutImage' src="https://i.ibb.co/XXfL1RY/about.png" alt = "AboutLogo" width = "300">

</div>